<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link
      rel="stylesheet"
      href="/stylesheets/detail_player.css"
      type="text/css"
    />
    <title><%=title%></title>
  </head>
  <body>
    <div class="box">
      <img
        src="<%= player.image%>"
        alt=""
        class="box-img"
      />
      <h1><%= player.name%></h1>
      <h4><%= player.club%></h4>
      <h5>
        Position: <%= player.position%>
      </h5>
      <h5>
        Goals: <%= player.goals%>
      </h5>
      <h5>
        Is Captain: <%=JSON.stringify(player.isCaptain)===JSON.stringify('Captain')? 'Yes'
                                    :'No'%>
      </h5>
    </div>
  </body>
</html>
